/* word sans fonts from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles here  */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;  
    border: 0px;    
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}
.primary-color{
    color: #FF900E;
}
/* header styles here  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
}
/* banner styles here  */
.banner{
    padding-top: 50px;
}
.banner-content{
    width: 830px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
}
.banner-description{
    color: #727272;
    margin-bottom: 32px;
}
.banner img{
    margin-top: 50px;
    width: 100%;
}
/* featured styles here  */
.featured{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px 300px 100px 300px;
    gap: 70px;
}
.featured-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.featured-content-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.feature-content-description{
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 26px;
}
.quick-list{
    color: #727272;
    font-weight: 500px;
}
/* another featured styles here  */
.another-featured{
    display: flex;
    margin: 0px 240px 130px 240px;
    gap: 145px;
}
.another-fc-title{
    font-size: 3rem;
    font-weight: 700px;
    color: #131313;
    padding-left: 24px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}
.desktop-version, .drag, .awesome{
    margin-bottom: 20px;
}
.another-fc-description, .desktop-description, .drag-description, .super-description, .awesome-description{
    color: #727272;
    line-height: 26px;
    margin-bottom: 60px;
}
.desktop-title, .drag-title, .super-title, .awesome-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.btn{
    padding: 45px 42px;
    margin-left: -90px;
    margin-top: -100px;
}
.years{
    font-size: 4rem;
    font-weight: 700px;
}
/* facts styles here  */
.facts-container{
   margin: 0px 240px 130px 240px;
}
.facts-title{
    font-size: 3rem;
    font-weight: 700px;
    color: #131313;
}
.facts-description{
    width: 540px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 100px;
}
.facts-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.facts-icon{
    text-align: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(253, 180, 21);
    border-radius: 8px;
}
.facts-icon img{
    margin-top: 75px;
    width: 50px;
    height: 50px;
}
.icon-title{
    width: 130px;
    height: auto;
    font-size: 2.8rem;
    font-weight: 600px;
    margin-left: 60px;
    margin-top: 10px;
    color: #424242;
}
.icon-description{
    font-size: 20px;
    font-weight: 600px;
    color: #727272;
}
/* sponsors styles here  */
.sponsors-container{
    margin-left: 240px;
    margin-right: 240px;
}
.sponsors-content{
    text-align: center;
}
.sponsors-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
    margin-bottom: 24px;
}
.sponsors-description{
    color: #727272;
    line-height: 26px;
}
.sponsors-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 130px;
}
.sponsors-icon{
    color: #2EBD59;
}
footer input{
    padding: 40px 410px;
    margin-left: 500px;
    margin-bottom: 200px;
    border: 0px;
    border-radius: 8px;
    background: #FFF4E7;
}

/* responsive styles here  */
/* small devices  */
@media screen and (max-width:576px) {
        header{
            padding: 20px;
        }
        header nav {
            flex-direction: column;
        }
        .banner-content{
            width: 100%;
        }
        nav > ul{
            flex-direction: column;
        }
        .featured{
            flex-direction: column;
            margin: 20px;
        }
        .featured-img{
            grid-template-columns: repeat(1,1fr);
        }
        .another-featured{
            width: 92%;
            flex-direction: column;
            margin: 30px;
            gap: 30px;
        }
        .another-featured-img img{
            width: 100%;
        }
        .btn{
            padding: 10px 15px;
            margin-left: 100px;
        }
        .years{
            font-size: 2rem;
        }
        .facts-container{
            margin: 50px 30px 50px 30px;
        }
        .facts-icons{
            flex-direction: column;
        }
        .facts-content, .facts-description{
            width: 100%;
        }
        .sponsors-container{
            margin: 50px 30px;
        }
        .sponsors-icons{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            margin-left: 150px;
            gap: 20px;
        }
        footer input{
            padding: 30px 120px;
            margin: 0px 45px 50px 45px;
        }
}
/* tablet or medium devices  */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    header nav {
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    nav > ul{
        flex-direction: column;
    }
    .featured{
        flex-direction: column;
        margin: 40px;
    }
    .featured-img{
        grid-template-columns: repeat(2,1fr);
    }
    .another-featured{
        flex-direction: column;
        margin: 30px;
        gap: 30px;
    }
    .another-featured-img img{
        width: 100%;
    }
    .btn{
        padding: 20px 25px;
        margin-left: 250px;
    }
    .facts-container{
        margin: 80px 40px 80px 40px;
        padding-left: 80px;
    }
    .facts-icons{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .sponsors-container{
        margin: 70px 40px;
    }
    .sponsors-icons{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 150px;
        gap: 20px;
    }
    footer input{
        padding: 40px 220px;
        margin: 0px 45px 100px 160px;
    }
}