/* word sans fonts from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles here  */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;  
    border: 0px;    
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}
.primary-color{
    color: #FF900E;
}
/* header styles here  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
}
/* banner styles here  */
.banner-content{
    width: 830px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
}
.banner-description{
    color: #727272;
    margin-bottom: 32px;
}
.banner img{
    margin-top: 50px;
    width: 100%;
}
/* featured styles here  */
.featured{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px 300px 100px 300px;
    gap: 70px;
}
.featured-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.featured-content-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.feature-content-description{
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 26px;
}
.quick-list{
    color: #727272;
    font-weight: 500px;
}
/* another featured styles here  */
.another-featured{
    display: flex;
    margin: 0px 240px 130px 240px;
    gap: 145px;
}
.another-fc-title{
    font-size: 3rem;
    font-weight: 700px;
    color: #131313;
    padding-left: 24px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}
.desktop-version, .drag, .awesome{
    margin-bottom: 20px;
}
.another-fc-description, .desktop-description, .drag-description, .super-description, .awesome-description{
    color: #727272;
    line-height: 26px;
    margin-bottom: 60px;
}
.desktop-title, .drag-title, .super-title, .awesome-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.btn{
    padding: 45px 42px;
    margin-left: -90px;
    margin-top: -100px;
}
.years{
    font-size: 4rem;
    font-weight: 700px;
}
/* responsive styles here  */
/* small devices  */
@media screen and (max-width:576px) {
        header{
            padding: 20px;
        }
        header nav {
            flex-direction: column;
        }
        .banner-content{
            width: 100%;
        }
        nav > ul{
            flex-direction: column;
        }
        .featured{
            flex-direction: column;
            margin: 20px;
        }
        .featured-img{
            grid-template-columns: repeat(1,1fr);
        }
        .another-featured{
            flex-direction: column;
            margin: 30px;
            gap: 30px;
        }
        .another-featured-img img{
            width: 100%;
        }
        .btn{
            padding: 20px 25px;
            margin-left: 100px;
        }
}
/* tablet or medium devices  */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    header nav {
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    nav > ul{
        flex-direction: column;
    }
    .featured{
        flex-direction: column;
        margin: 40px;
    }
    .featured-img{
        grid-template-columns: repeat(2,1fr);
    }
    .another-featured{
        flex-direction: column;
        margin: 30px;
        gap: 30px;
    }
    .another-featured-img img{
        width: 100%;
    }
    .btn{
        padding: 20px 25px;
        margin-left: 250px;
    }
}